@import 'colors+fonts.scss';

.patient-queue-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
}

#patient-queue-title {
        text-align: center;
        color: $headerColor;    
        margin: 40px;
        font-size: 50px;
}
